body {
    background-color: #3882F6;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    align-items: center;
}

.sub-title, .output {
    display: flex;
}

.weapons {
    display: flex;
}