body {
    background-color: #39a0ed;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    align-items: center;
    min-height: 100%;
    margin: 0px;
}

p { margin: 0px; }

.title h1 {
    font-family: 'Open Sans Condensed', sans-serif; font-size: 44px; font-weight: 700; line-height: 64px; padding: 10px 20px; text-align: center; text-transform: uppercase;
    color: #202030;
}

.sub-title, .title {
    margin: 20px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.output {
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#weapons, .game-results {
    display: flex;
    gap: 40px;
}

.premise {
    border: 2px solid #1F2937;
    border-radius: 10px;
    width: 720px;
    padding: 20px 35px;
    background-color: #404e5c;
}

.premise p{
    text-align: justify;
    text-justify: inter-word;
    margin:0px;
    font-style: oblique;
    font-size: 18px;
    color: rgb(216, 236, 236);
}

.premise strong {
    color: rgb(207, 225, 225);
    font-size: 18px;
}

#weapons button{
    height: 180px;
    width: 180px;
    border: 3px solid rgb(22, 21, 21);
    border-radius: 10px;
    background-color: #a8dcd1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 800;
}

#brackets, .title h2, #user-score, #iya-score{
    font-size: 40px;
    font-weight: 800px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: #1c2b41;
    color: rgb(238, 233, 233);
    width: 100vw;
    position: bottom;
    bottom: 0;
    margin: 40px 0px 0px 0px;
}

.footer img {
    width: 30px; 
}

#weapons img {
    width: 100px;
}

.user-output, .iya-output {
    height: 130px;
    width: 130px;
    border: 3px black solid;
    background-color: #e26d5c;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: black;
    font-family: Roboto, sans-serif;
    margin: 0px 0px 50px 0px;
    font-weight: 800;
}


button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#text-box {
    background-color: #e26d5c;
    border-radius: 10px;
    border: 3.5px solid #1c2b41;
    color: black;
    font-weight: 800;
    padding: 10px 20px;
}

